<h1>Places</h1>

<a href="/places/new" class="btn btn-outline-dark mb-3">New Place</a>

<ul class="list-unstyled">
  <% for place in @places %>
    <li class="mb-2"><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>
